body {
    width: 50px;
    height: 50px;
    -webkit-animation: flash 0.1s infinite;  /* Safari 4+ */
    -moz-animation: flash 0.1s infinite;  /* Fx 5+ */
    -o-animation: flash 0.1s infinite;  /* Opera 12+ */
    animation: flash 0.1s infinite;  /* IE 10+, Fx 29+ */
  }
  
  @-webkit-keyframes flash {
    0%, 49% {
      background-color: rgb(170, 249, 255);
    }
    50%, 100% {
      background-color: #d6017d;
    }
  }

  .ghost {
    animation: fly 25s infinite;
    top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	pointer-events: none;
}

.ghost2 {
    animation: fly 17s infinite;
    top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	pointer-events: none;
}

.ghost3 {
    animation: fly 35s infinite;
    top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	pointer-events: none;
}
.ghost4 {
    animation: fly 5s infinite;
    top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	pointer-events: none;
}
@keyframes fly {
	0% {
        width: 10vh;
		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;
	}

	12.5% {
		transform: translate(120vw,-120%) rotateZ(20deg);
	}

	25% {
		transform: translate(-200%,50vh) scale(1.75) rotateZ(-20deg);
	}

	37.5% {
        height: 150vw;
		transform: translate(-200%,-120%) rotateZ(-40deg);opacity: .5;
	}

	50% {
		transform: translate(100vw,50vh) rotateZ(0deg);
	}

	62.5% {
		transform: translate(20vw,100vh) rotateZ(20deg);
	}
	75% {
		transform: translate(200%,100vh) rotateZ(20deg);opacity: .25;
	}
	87.5% {
        width: 200vh;
		transform: translate(50vw,-200%) scale(1.75) rotateZ(20deg);
	}

	100% {
        height:10vw;
		transform: translate(-200%,110vh) rotateZ(0deg);opacity: 1;
	}
}