.terminal-font {
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
}

.emoji {
    width:2vw;
    height:2vw;
    position: relative;
    top: -30px;
}

.intro {
    font-size: 1.5vw;
    word-break: break-word !important;
}

.terminal-title {
    font-size: 8vw;
}

.faded {
    opacity: 0.5
}

.wide {
    display: inline-block !important;
    width: 100%;
    max-width: 100%;
    word-break: break-all;
}

.warning {
    color:gold
}

.ok {
    color:green;
}

div {
    display: inline;
}

#hiddenTextInput {
    opacity: 0;
    display: block;
    position:absolute;
    width: 1px;
    height:1px;
    
}

.blink {
    animation: blink-animation 1s steps(10, start) infinite;
    -webkit-animation: blink-animation 1s steps(10, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}