.terminal-font {
    font-family: 'Press Start 2P', cursive;
}

.terminal-title {
    font-size: xx-large;
}

.faded {
    opacity: 0.5
}

.warning {
    color:gold
}

#input_bar {
}

div {
    display: inline;
}

#hiddenTextInput {
    opacity: 0;
    display: block;
    position:absolute;
    width: 1px;
    height:1px;
    
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}