.terminal-font {
    font-family: 'Press Start 2P', cursive;
}

.terminal-title {
    font-family: 'Bungee Shade', cursive !important;
}

.faded {
    opacity: 0.5
}

.warning {
    color:gold
}

#input_bar {
    background-color: brown;
}

div {
    display: inline;
}